---
import PaginacionLayout from "../layouts/PaginacionLayout.astro";
import { fetchBooks } from '../script/fetchBooks.js'; 
import LibroVenta from "../components/libroVenta.astro";

const libros = await fetchBooks();  // Obtener los libros desde la API
---

<PaginacionLayout title="Ebook">

   <div class="flex flex-col gap-10 my-20 mx-10">

      {libros.map((libro:any) => (
        
        <LibroVenta 
          id={libro.id}
          nombre={libro.nombre} 
          reseña={libro.descripcion} 
          precio={libro.precio} 
          imagen_url={libro.imagen_url} 
          estado={libro.es_gratis}
        />

      
      ))}
          
     </div>
  
</PaginacionLayout>
<script src="https://js.stripe.com/v3/"></script>
